# python
__pycache__/
*.egg-info/

# environment
variables.sh
habitat-lab
eai-vc
episode_metrics.json

# development
.idea
.vscode

# data
data
result

# logs
tb/
train.log
slurm_logs/

# scripts
# scripts/
